{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

    <article class="article" itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="name">{{ .Title }}</h1>

        {{ partial "article_metadata" (dict "content" . "is_list" 0) }}

        <div class="post" itemprop="articleBody">

	  <!--
	  <span class='st_twitter_hcount' displayText='Tweet'></span>
	  <span class='st_facebook_hcount' displayText='Facebook'></span>
	  <span class='st_sina_hcount' displayText='Sina'></span>
	  <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
-->
        <div class="article-style" itemprop="articleBody">

          {{ .Content }}

	  <!--
	  <span class='st_twitter_hcount' displayText='Tweet'></span>
	  <span class='st_facebook_hcount' displayText='Facebook'></span>
	  <span class='st_sina_hcount' displayText='Sina'></span>
	  <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
	  -->

	  <!--
	  <img src="//guangchuangyu.github.io/blog_images/biobabble.jpg" width="250" height="250"/>
	  <p align="center">关注Y叔微信公众号biobabble</p>
	  -->


	</div>
    </article>

    {{ partial "section_pager.html" . }}
    {{ partial "comments.html" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
